{% load static %}

<div class="banco  banco-list-item">
    <div class="banco-cover">
        <a href="{{ blog.get_absolute_url }}">
            <img src="{{ blog.cover.url }}" alt="My image">
        </a>
    </div>
    <div class="blog-title-container">
        <h2 class="blog-title"> {{ blog.title }} </h2>
    </div>
    <div class="blog-author">
        <span class="blog-author-item">
            <i class="fas fa-user"></i>
            {{ blog.author.first_name }} {{ blog.author.last_name }}
        </span>
        <span class="blog-author-item">
            <i class="fas fas fa-calendar-alt"></i>
            {{ blog.created_at|date:"d/m/Y" }}  as {{ blog.created_at|date:"H:i" }}
        </span>
        <span class="blog-author-item">
            <a href="/blog/category/noc/">
                <i class="fas fa-layer-group"></i>
                <span>{{ blog.category.name }}</span>
            </a>
        </span>
    </div>

    <div class="blog-content">
        <p>{{ blog.description }}</p>
    </div>

    {% if is_detail_page is True %}

        <div class="text-content">
            {{ blog.post_content|linebreaksbr }}
        </div>

    {% endif %}


    <div class="blog-meta-container">
        <div class="blog-meta blog-tag">
            <h3 class="blog-meta-title"><i class="fas fa-tag"></i>Tag</h3>
            <div class="blog-meta-text">
                {{ blog.post_tag }}
            </div>
        </div>
        <div class="blog-meta blog-sector">
            <h3 class="blog-meta-title"><i class="fas fa-industry"></i>Setor</h3>
            <div class="blog-meta-text">
                {{ blog.post_sector }}
            </div>
        </div>
    </div>

    {% if is_detail_page is not True %}
    <footer class="blog-banco-footer">
        <a href="posts/{{ blog.post_number }}/" class="blog-read-more">
            <i class="fa fa-eye"></i>
            <span>leia mais...</span>
        </a>
    </footer>
    {% endif %}


</div>