{% extends 'global/base.html' %}
    {% block content %}
        <div class="main-content main-content-list container">
            {% include 'blog\partials\post_blog.html'%}
            {% include 'blog\partials\post_blog.html'%}
            {% include 'blog\partials\post_blog.html'%}
            {% include 'blog\partials\post_blog.html'%}
            {% include 'blog\partials\post_blog.html'%}
            {% include 'blog\partials\post_blog.html'%}
            {% include 'blog\partials\post_blog.html'%}
        </div>
    {% endblock content %}